.icon {
  &::before {
    font-family: 'Capiter';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-person:before {
  content: '\e923';
}
.icon-alert:before {
  content: '\e900';
}
.icon-assignment:before {
  content: '\e902';
}
.icon-box-in:before {
  content: '\e903';
}
.icon-box-out:before {
  content: '\e904';
}
.icon-box:before {
  content: '\e905';
}
.icon-bundles:before {
  content: '\e906';
}
.icon-campaigns:before {
  content: '\e907';
}
.icon-card:before {
  content: '\e908';
}
.icon-cart:before {
  content: '\e909';
}
.icon-cash:before {
  content: '\e90a';
}
.icon-compass:before {
  content: '\e90b';
}
.icon-eye:before {
  content: '\e90c';
}
.icon-factory:before {
  content: '\e90d';
}
.icon-file:before {
  content: '\e90e';
}
.icon-home:before {
  content: '\e90f';
}
.icon-image:before {
  content: '\e910';
}
.icon-merchant:before {
  content: '\e911';
}
.icon-phone:before {
  content: '\e912';
}
.icon-promotions:before {
  content: '\e914';
}
.icon-referrals:before {
  content: '\e915';
}
.icon-refresh:before {
  content: '\e917';
}
.icon-return:before {
  content: '\e918';
}
.icon-rewards:before {
  content: '\e919';
}
.icon-route:before {
  content: '\e91a';
}
.icon-setting:before {
  content: '\e91b';
}
.icon-relesales:before {
  content: '\e91c';
}
.icon-vehicle:before {
  content: '\e91d';
}
.icon-wallet:before {
  content: '\e91e';
}
.icon-warehouse:before {
  content: '\e91f';
}
.icon-categories:before {
  content: '\e901';
}
.icon-download:before {
  content: '\e920';
}
.icon-location:before {
  content: '\e921';
}
.icon-signout:before {
  content: '\e924';
}
.icon-checked:before {
  content: '\e926';
}
.icon-unchecked:before {
  content: '\e927';
}
.icon-third-party:before {
  content: '\e928';
}
.icon-no-entry:before {
  content: '\e929';
}
.icon-picking:before {
  content: '\e92a';
}
.icon-rewards-segmentation:before {
  content: '\e92b';
}
.icon-supplier-ranking:before {
  content: '\e92c';
}
.icon-trash:before {
  content: '\e92d';
}
.icon-contact-info:before {
  content: '\e92e';
}
.icon-more-horizontal:before {
  content: '\e92f';
}
.icon-plus:before {
  content: '\e930';
}
.icon-more-vertical:before {
  content: '\e931';
}
.icon-eye-filled:before {
  content: '\e932';
}
.icon-calendar:before {
  content: '\e933';
}
.icon-check-double:before {
  content: '\e934';
}
.icon-close:before {
  content: '\e935';
}
.icon-info:before {
  content: '\e936';
}
.icon-arrow-left:before {
  content: '\e937';
}
.icon-location-lock:before {
  content: '\e938';
}
.icon-stock:before {
  content: '\e939';
}
.icon-pencil:before {
  content: '\e93a';
}
.icon-clock:before {
  content: '\e93b';
}
.icon-check:before {
  content: '\e93c';
}
