//@import "common.scss";

.change-password-section {
  @include absoluteCenter("both");
  @include box-shadow(1, 0, 20, 0, rgba($c-black, 0.08));
  background-color: $c-white;
  padding: toRem(40);
  border-radius: toRem(5);
}
mat-error.match-error {
  position: absolute;
  left: toRem(30);
  font-size: $f-mini;
}
