<section class="change-password-section">
  <h1>Change Password</h1>
  <!-- <outline-box [headerName]="'Password Information'" [layout]="'column'" [gap]="'10px'"> -->
    <form
      [formGroup]="form"
      class="change-password-form"
      CptDebounceClickDirective
      (debounceClick)="submit()"
      fxLayout="column"
    >
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div fxFlex="100">
          <cpt-textbox
            [id]="'txtOldPassword'"
            [name]="'txtOldPassword'"
            [isPassword]="true"
            [placeholder]="'Old Password'"
            [required]="true"
            [requiredErrorMessage]="'required Field'"
            formControlName="oldPassword"
            ngDefaultControl
          >
          </cpt-textbox>
        </div>
        <div fxFlex="calc(100% / 2 - 10px)">
          <cpt-textbox
            [id]="'txtNewPassword'"
            [name]="'txtNewPassword'"
            [isPassword]="true"
            [required]="true"
            [placeholder]="'New password'"
            [requiredErrorMessage]="'required Field'"
            [patternKey]="'password'"
            [patternErrorMessage]="'password length validation'"
            [maxLength]="100"
            formControlName="newPasswordField"
            ngDefaultControl
          >
          </cpt-textbox>
        </div>
        <div fxFlex="calc(100% / 2 - 10px)">
          <cpt-textbox
            [id]="'txtReTypeNewPassword'"
            [name]="'txtReTypeNewPassword'"
            [isPassword]="true"
            [required]="true"
            [placeholder]="'Re-Type New password'"
            [requiredErrorMessage]="'required Field'"
            [patternKey]="'password'"
            [patternErrorMessage]="'password length validation'"
            [maxLength]="100"
            formControlName="reTypeNewPasswordField"
            ngDefaultControl
          >
          </cpt-textbox>
          <mat-error class="match-error" *ngIf="form.hasError('notSame')">
            passwords not match
          </mat-error>
        </div>
        <div fxFlex="100" [align]="'end'">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            id="submitBtn"
            [disabled]="!form.valid"
          >
            <span *ngIf="isLoading">
              <cpt-spinner [inlineSpinner]="true" [isDefaultColor]="false"></cpt-spinner>
            </span>
            <span *ngIf="!isLoading">Confirm</span>
          </button>
        </div>
      </div>
    </form>
  </outline-box>
</section>
